<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u2C65</key>
    <string>u2C_65.glif</string>
    <key>uA7AA</key>
    <string>uA_7A_A_.glif</string>
    <key>uA7AD</key>
    <string>uA_7A_D_.glif</string>
    <key>uA7B2</key>
    <string>uA_7B_2.glif</string>
  </dict>
</plist>
